.collapsible {
  margin: 1em 0;
  border: 1px solid blue;
}
.collapsible__trigger {
  cursor: pointer;
}
.collapsible__panel {
  display: none;
}

.collapsible--open {}
.collapsible--open .collapsible__panel {
  display: block;
}